--- configs/rock-pi-e-rk3328_defconfig.orig	2020-06-24 15:13:05.120778000 +0300
+++ configs/rock-pi-e-rk3328_defconfig	2020-06-24 15:14:02.584092000 +0300
@@ -102,3 +102,11 @@
 CONFIG_TPL_TINY_MEMSET=y
 CONFIG_ERRNO_STR=y
 CONFIG_SMBIOS_MANUFACTURER="radxa"
+CONFIG_DISPLAY=y
+CONFIG_DM_VIDEO=y
+CONFIG_VIDEO_BPP8=y
+CONFIG_VIDEO_BPP16=y
+CONFIG_VIDEO_BPP32=y
+CONFIG_VIDEO_ROCKCHIP=y
+CONFIG_DISPLAY_ROCKCHIP_HDMI=y
+
