--- arch/arm/dts/rk3328-rock-pi-e.dts.orig	2020-07-06 22:22:53.000000000 +0300
+++ arch/arm/dts/rk3328-rock-pi-e.dts	2020-07-09 15:12:51.906797000 +0300
@@ -1,260 +1,438 @@
-// SPDX-License-Identifier: GPL-2.0+
 /*
- * (C) Copyright 2020 Radxa
+ * SPDX-License-Identifier: (GPL-2.0+ or MIT)
+ * Copyright (c) 2016 Fuzhou Rockchip Electronics Co., Ltd
  */
 
 /dts-v1/;
 #include "rk3328.dtsi"
+#include <dt-bindings/input/input.h>
 
 / {
-	model = "Radxa Rockpi E";
-	compatible = "radxa,rock-pi-e", "rockchip,rk3328";
+	model = "Radxa ROCK Pi E";
+	compatible = "radxa,rockpie", "rockchip,rk3328";
 
 	chosen {
-	stdout-path = "serial2:1500000n8";
+		stdout-path = "serial2:1500000n8";
 	};
 
+	fiq_debugger: fiq-debugger {
+		compatible = "rockchip,fiq-debugger";
+		rockchip,serial-id = <2>;
+		rockchip,signal-irq = <159>;
+		rockchip,wake-irq = <0>;
+		/* If enable uart uses irq instead of fiq */
+		rockchip,irq-mode-enable = <0>;
+		rockchip,baudrate = <1500000>;  /* Only 115200 and 1500000 */
+		interrupts = <GIC_SPI 127 IRQ_TYPE_LEVEL_LOW>;
+		status = "disabled";
+	};
+
 	gmac_clkin: external-gmac-clock {
-	compatible = "fixed-clock";
-	clock-frequency = <125000000>;
-	clock-output-names = "gmac_clkin";
-	#clock-cells = <0>;
+		compatible = "fixed-clock";
+		clock-frequency = <125000000>;
+		clock-output-names = "gmac_clkin";
+		#clock-cells = <0>;
 	};
 
+	sound {
+		compatible = "simple-audio-card";
+		simple-audio-card,format = "i2s";
+		simple-audio-card,mclk-fs = <256>;
+		simple-audio-card,name = "rockchip,rk3328";
+		simple-audio-card,cpu {
+			sound-dai = <&i2s1>;
+		};
+		simple-audio-card,codec {
+			sound-dai = <&codec>;
+		};
+	};
+
+	hdmi-sound {
+		compatible = "simple-audio-card";
+		simple-audio-card,format = "i2s";
+		simple-audio-card,mclk-fs = <128>;
+		simple-audio-card,name = "rockchip,hdmi";
+		simple-audio-card,cpu {
+			sound-dai = <&i2s0>;
+		};
+		simple-audio-card,codec {
+			sound-dai = <&hdmi>;
+		};
+	};
+
+	vcc_host_vbus: host-vbus-regulator {
+		compatible = "regulator-fixed";
+		gpio = <&gpio3 RK_PA7 GPIO_ACTIVE_HIGH>;
+		pinctrl-names = "default";
+		pinctrl-0 = <&host_vbus_drv>;
+		regulator-always-on;
+		regulator-boot-on;
+		regulator-name = "vcc_host_vbus";
+		regulator-min-microvolt = <5000000>;
+		regulator-max-microvolt = <5000000>;
+		enable-active-high;
+	};
+
+	vcc_phy: vcc-phy-regulator {
+		compatible = "regulator-fixed";
+		regulator-name = "vcc_phy";
+		regulator-always-on;
+		regulator-boot-on;
+	};
+
 	vcc_sd: sdmmc-regulator {
-	compatible = "regulator-fixed";
-	gpio = <&gpio0 RK_PD6 GPIO_ACTIVE_LOW>;
-	pinctrl-names = "default";
-	pinctrl-0 = <&sdmmc0m1_gpio>;
-	regulator-name = "vcc_sd";
-	regulator-always-on;
-	regulator-boot-on;
-	regulator-min-microvolt = <3300000>;
-	regulator-max-microvolt = <3300000>;
-	vin-supply = <&vcc_io>;
+		compatible = "regulator-fixed";
+		gpio = <&gpio0 30 GPIO_ACTIVE_LOW>;
+		pinctrl-names = "default";
+		pinctrl-0 = <&sdmmc0m1_gpio>;
+		regulator-name = "vcc_sd";
+		regulator-min-microvolt = <3300000>;
+		regulator-max-microvolt = <3300000>;
+		vin-supply = <&vcc_io>;
 	};
 
+	vcc_sys: vcc-sys {
+		compatible = "regulator-fixed";
+		regulator-name = "vcc_sys";
+		regulator-always-on;
+		regulator-boot-on;
+		regulator-min-microvolt = <5000000>;
+		regulator-max-microvolt = <5000000>;
+	};
+
 	vcc5v0_host_xhci: vcc5v0-host-xhci-drv {
-	compatible = "regulator-fixed";
-	enable-active-high;
-	regulator-name = "vcc5v0_host_xhci";
-	gpio = <&gpio3 RK_PA7 GPIO_ACTIVE_HIGH>;
-	regulator-min-microvolt = <5000000>;
-	regulator-max-microvolt = <5000000>;
+		compatible = "regulator-fixed";
+		enable-active-high;
+		regulator-name = "vcc5v0_host_xhci";
+		gpio = <&gpio3 RK_PA7 GPIO_ACTIVE_HIGH>;
+		regulator-min-microvolt = <5000000>;
+		regulator-max-microvolt = <5000000>;
 	};
 
-	vcc_sys: vcc-sys {
-	compatible = "regulator-fixed";
-	regulator-name = "vcc_sys";
-	regulator-always-on;
-	regulator-boot-on;
-	regulator-min-microvolt = <5000000>;
-	regulator-max-microvolt = <5000000>;
+	xin32k: xin32k {
+		compatible = "fixed-clock";
+		clock-frequency = <32768>;
+		clock-output-names = "xin32k";
+		#clock-cells = <0>;
 	};
-};
 
-&cpu0 {
-	cpu-supply = <&vdd_arm>;
+	gpio-leds {
+		compatible = "gpio-leds";
+		status = "okay";
+
+		user-led {
+			label = "rockpie:user";
+			gpios = <&gpio3 5 GPIO_ACTIVE_LOW>;
+			linux,default-trigger = "heartbeat";
+			default-state = "on";
+		};
+	};
 };
 
-&cpu1 {
-	cpu-supply = <&vdd_arm>;
+&io_domains {
+	status = "okay";
+
+	vccio1-supply = <&vcc_io>;
+	vccio2-supply = <&vcc_18emmc>;
+	vccio3-supply = <&vcc_io>;
+	vccio4-supply = <&vcc_io>;
+	vccio5-supply = <&vcc_io>;
+	vccio6-supply = <&vcc_io>;
+	pmuio-supply = <&vcc_io>;
 };
 
-&cpu2 {
+&cpu0 {
 	cpu-supply = <&vdd_arm>;
 };
 
-&cpu3 {
-	cpu-supply = <&vdd_arm>;
+&gpu {
+	status = "okay";
+	mali-supply = <&vdd_logic>;
 };
 
-&emmc {
-	bus-width = <8>;
-	cap-mmc-highspeed;
-	mmc-hs200-1_8v;
-	supports-emmc;
-	disable-wp;
-	non-removable;
-	num-slots = <1>;
-	pinctrl-names = "default";
-	pinctrl-0 = <&emmc_clk &emmc_cmd &emmc_bus8>;
-	vmmc-supply = <&vcc_io>;
-	vqmmc-supply = <&vcc18_emmc>;
+&gmac2phy {
+	phy-supply = <&vcc_phy>;
+	clock_in_out = "output";
+	assigned-clocks = <&cru SCLK_MAC2PHY>, <&cru SCLK_MAC2PHY_SRC>;
+	assigned-clock-rate = <0>, <50000000>;
+	assigned-clock-parents = <&cru SCLK_MAC2PHY_SRC>, <&cru PLL_GPLL>;
 	status = "okay";
 };

 &gmac2io {
-	assigned-clocks = <&cru SCLK_MAC2IO>, <&cru SCLK_MAC2IO_EXT>;
-	assigned-clock-parents = <&gmac_clkin>, <&gmac_clkin>;
-	clock_in_out = "input";
 	phy-supply = <&vcc_io>;
 	phy-mode = "rgmii";
-	pinctrl-names = "default";
-	pinctrl-0 = <&rgmiim1_pins>;
-	snps,force_thresh_dma_mode;
+	clock_in_out = "input";
 	snps,reset-gpio = <&gpio1 RK_PC2 GPIO_ACTIVE_LOW>;
 	snps,reset-active-low;
 	snps,reset-delays-us = <0 10000 50000>;
+	assigned-clocks = <&cru SCLK_MAC2IO>, <&cru SCLK_MAC2IO_EXT>;
+	assigned-clock-parents = <&gmac_clkin>, <&gmac_clkin>;
+	pinctrl-names = "default";
+	pinctrl-0 = <&rgmiim1_pins>;
+	snps,aal;
+	snps,rxpbl = <0x4>;
+	snps,txpbl = <0x4>;
 	tx_delay = <0x26>;
 	rx_delay = <0x11>;
 	status = "okay";
 };
 
-&i2c1 {
+&display_subsystem {
 	status = "okay";
+};
 
-	rk805: rk805@18 {
-	compatible = "rockchip,rk805";
+&hdmi {
+	#sound-dai-cells = <0>;
+	ddc-i2c-scl-high-time-ns = <9625>;
+	ddc-i2c-scl-low-time-ns = <10000>;
 	status = "okay";
-	reg = <0x18>;
-	interrupt-parent = <&gpio2>;
-	interrupts = <6 IRQ_TYPE_LEVEL_LOW>;
-	#clock-cells = <1>;
-	clock-output-names = "xin32k", "rk805-clkout2";
-	pinctrl-names = "default";
-	pinctrl-0 = <&pmic_int_l>;
-	rockchip,system-power-controller;
-	wakeup-source;
+};
 
-	vcc1-supply = <&vcc_sys>;
-	vcc2-supply = <&vcc_sys>;
-	vcc3-supply = <&vcc_sys>;
-	vcc4-supply = <&vcc_sys>;
-	vcc5-supply = <&vcc_io>;
-	vcc6-supply = <&vcc_sys>;
+&hdmiphy {
+	status = "okay";
+};
 
-	regulators {
-	vdd_logic: DCDC_REG1 {
-	regulator-name = "vdd_logic";
-	regulator-min-microvolt = <712500>;
-	regulator-max-microvolt = <1450000>;
-	regulator-ramp-delay = <12500>;
-	regulator-always-on;
-	regulator-boot-on;
-	regulator-state-mem {
-	regulator-on-in-suspend;
-	regulator-suspend-microvolt = <1000000>;
-	};
-	};
+/*&h265e {
+	status = "okay";
+};
 
-	vdd_arm: DCDC_REG2 {
-	regulator-name = "vdd_arm";
-	regulator-min-microvolt = <712500>;
-	regulator-max-microvolt = <1450000>;
-	regulator-ramp-delay = <12500>;
-	regulator-always-on;
-	regulator-boot-on;
-	regulator-state-mem {
-	regulator-on-in-suspend;
-	regulator-suspend-microvolt = <950000>;
-	};
-	};
+&rkvdec {
+	status = "okay";
+};
 
-	vcc_ddr: DCDC_REG3 {
-	regulator-name = "vcc_ddr";
-	regulator-always-on;
-	regulator-boot-on;
-	regulator-state-mem {
-	regulator-on-in-suspend;
-	};
-	};
+&vepu {
+	status = "okay";
+};*/
 
-	vcc_io: DCDC_REG4 {
-	regulator-name = "vcc_io";
-	regulator-min-microvolt = <3300000>;
-	regulator-max-microvolt = <3300000>;
-	regulator-always-on;
-	regulator-boot-on;
-	regulator-state-mem {
-	regulator-on-in-suspend;
-	regulator-suspend-microvolt = <3300000>;
-	};
-	};
+&vop {
+	status = "okay";
+};
 
-	vcc_18: LDO_REG1 {
-	regulator-name = "vcc_18";
-	regulator-min-microvolt = <1800000>;
-	regulator-max-microvolt = <1800000>;
-	regulator-always-on;
-	regulator-boot-on;
-	regulator-state-mem {
-	regulator-on-in-suspend;
-	regulator-suspend-microvolt = <1800000>;
-	};
-	};
+&vop_mmu {
+	status = "okay";
+};
 
-	vcc18_emmc: LDO_REG2 {
-	regulator-name = "vcc18_emmc";
-	regulator-min-microvolt = <1800000>;
-	regulator-max-microvolt = <1800000>;
-	regulator-always-on;
-	regulator-boot-on;
-	regulator-state-mem {
-	regulator-on-in-suspend;
-	regulator-suspend-microvolt = <1800000>;
-	};
-	};
+/*&vpu_service {
+	status = "okay";
+};*/
 
-	vdd_10: LDO_REG3 {
-	regulator-name = "vdd_10";
-	regulator-min-microvolt = <1000000>;
-	regulator-max-microvolt = <1000000>;
-	regulator-always-on;
-	regulator-boot-on;
-	regulator-state-mem {
-	regulator-on-in-suspend;
-	regulator-suspend-microvolt = <1000000>;
-	};
-	};
-	};
-	};
+&i2s0 {
+	#sound-dai-cells = <0>;
+	rockchip,bclk-fs = <128>;
+	status = "okay";
 };
 
-&io_domains {
+&i2s1 {
+	#sound-dai-cells = <0>;
 	status = "okay";
+};
 
-	vccio1-supply = <&vcc_io>;
-	vccio2-supply = <&vcc18_emmc>;
-	vccio3-supply = <&vcc_io>;
-	vccio4-supply = <&vcc_io>;
-	vccio5-supply = <&vcc_io>;
-	vccio6-supply = <&vcc_io>;
-	pmuio-supply = <&vcc_io>;
+&codec {
+	#sound-dai-cells = <0>;
+	status = "okay";
 };
 
-&pinctrl {
-	pmic {
-	pmic_int_l: pmic-int-l {
-	rockchip,pins = <2 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>;
-	};
-	};
+&emmc {
+	bus-width = <8>;
+	cap-mmc-highspeed;
+	mmc-hs200-1_8v;
+	supports-emmc;
+	disable-wp;
+	non-removable;
+	num-slots = <1>;
+	pinctrl-names = "default";
+	pinctrl-0 = <&emmc_clk &emmc_cmd &emmc_bus8>;
+	status = "okay";
 };
 
 &sdmmc {
 	bus-width = <4>;
 	cap-mmc-highspeed;
 	cap-sd-highspeed;
-	card-detect-delay = <200>;
 	disable-wp;
 	max-frequency = <150000000>;
 	num-slots = <1>;
 	pinctrl-names = "default";
 	pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_dectn &sdmmc0_bus4>;
 	supports-sd;
+	status = "okay";
 	vmmc-supply = <&vcc_sd>;
+};
+
+&i2c1 {
 	status = "okay";
+
+	rk805: rk805@18 {
+		compatible = "rockchip,rk805";
+		status = "okay";
+		reg = <0x18>;
+		interrupt-parent = <&gpio2>;
+		interrupts = <6 IRQ_TYPE_LEVEL_LOW>;
+		pinctrl-names = "default";
+		pinctrl-0 = <&pmic_int_l>;
+		rockchip,system-power-controller;
+		wakeup-source;
+		gpio-controller;
+		#gpio-cells = <2>;
+		#clock-cells = <1>;
+		clock-output-names = "rk805-clkout1", "rk805-clkout2";
+
+		vcc1-supply = <&vcc_sys>;
+		vcc2-supply = <&vcc_sys>;
+		vcc3-supply = <&vcc_sys>;
+		vcc4-supply = <&vcc_sys>;
+		vcc5-supply = <&vcc_io>;
+		vcc6-supply = <&vcc_io>;
+
+		rtc {
+			status = "okay";
+		};
+
+		pwrkey {
+			status = "disabled";
+		};
+
+		gpio {
+			status = "okay";
+		};
+
+		regulators {
+			compatible = "rk805-regulator";
+			status = "okay";
+			#address-cells = <1>;
+			#size-cells = <0>;
+
+			vdd_logic: DCDC_REG1 {
+				regulator-name = "vdd_logic";
+				regulator-min-microvolt = <712500>;
+				regulator-max-microvolt = <1450000>;
+				regulator-ramp-delay = <12500>;
+				regulator-boot-on;
+				regulator-always-on;
+				regulator-state-mem {
+					regulator-on-in-suspend;
+					regulator-suspend-microvolt = <1000000>;
+				};
+			};
+
+			vdd_arm: DCDC_REG2 {
+				regulator-name = "vdd_arm";
+				regulator-min-microvolt = <712500>;
+				regulator-max-microvolt = <1450000>;
+				regulator-ramp-delay = <12500>;
+				regulator-boot-on;
+				regulator-always-on;
+				regulator-state-mem {
+					regulator-on-in-suspend;
+					regulator-suspend-microvolt = <950000>;
+				};
+			};
+
+			vcc_ddr: DCDC_REG3 {
+				regulator-name = "vcc_ddr";
+				regulator-boot-on;
+				regulator-always-on;
+				regulator-state-mem {
+					regulator-on-in-suspend;
+				};
+			};
+
+			vcc_io: DCDC_REG4 {
+				regulator-name = "vcc_io";
+				regulator-min-microvolt = <3300000>;
+				regulator-max-microvolt = <3300000>;
+				regulator-boot-on;
+				regulator-always-on;
+				regulator-state-mem {
+					regulator-on-in-suspend;
+					regulator-suspend-microvolt = <3300000>;
+				};
+			};
+
+			vdd_18: LDO_REG1 {
+				regulator-name = "vdd_18";
+				regulator-min-microvolt = <1800000>;
+				regulator-max-microvolt = <1800000>;
+				regulator-boot-on;
+				regulator-always-on;
+				regulator-state-mem {
+					regulator-on-in-suspend;
+					regulator-suspend-microvolt = <1800000>;
+				};
+			};
+
+			vcc_18emmc: LDO_REG2 {
+				regulator-name = "vcc_18emmc";
+				regulator-min-microvolt = <1800000>;
+				regulator-max-microvolt = <1800000>;
+				regulator-boot-on;
+				regulator-always-on;
+				regulator-state-mem {
+					regulator-on-in-suspend;
+					regulator-suspend-microvolt = <1800000>;
+				};
+			};
+
+			vdd_11: LDO_REG3 {
+				regulator-name = "vdd_11";
+				regulator-min-microvolt = <1100000>;
+				regulator-max-microvolt = <1100000>;
+				regulator-boot-on;
+				regulator-always-on;
+				regulator-state-mem {
+					regulator-on-in-suspend;
+					regulator-suspend-microvolt = <1100000>;
+				};
+			};
+		};
+	};
 };
 
-&saradc {
+&pinctrl {
+	pinctrl-names = "default";
+	pinctrl-0 = <&wifi_enable>;
+
+	wifi {
+		wifi_enable: wifi-enable {
+			rockchip,pins =
+				<0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_down>;
+		};
+	};
+
+	pmic {
+		pmic_int_l: pmic-int-l {
+			rockchip,pins =
+				<2 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>;	/* gpio2_a6 */
+		};
+	};
+
+	usb {
+		host_vbus_drv: host-vbus-drv {
+			rockchip,pins =
+				<3 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>;
+		};
+	};
+};
+
+&u2phy {
 	status = "okay";
 };
 
+&u2phy_host {
+	status = "okay";
+};
+
+&u2phy_otg {
+	status = "okay";
+};
+
 &uart2 {
 	status = "okay";
 };
 
 &usb20_otg {
+	dr_mode = "host";
 	status = "okay";
 };
 
@@ -264,4 +443,19 @@
 
 &usb_host0_ohci {
 	status = "okay";
+};
+
+&wdt {
+	status = "okay";
+};
+
+&saradc {
+	status = "okay";
+	vref-supply = <&vdd_18>;
+};
+
+&tsadc {
+	status = "okay";
+	rockchip,hw-tshut-mode = <1>; /* tshut mode 0:CRU 1:GPIO */
+	rockchip,hw-tshut-polarity = <1>; /* tshut polarity 0:LOW 1:HIGH */
 };
