--- arch/arm/dts/rk3399pro-vmarc-som.dtsi.orig1	2020-07-09 18:10:29.738764000 +0300
+++ arch/arm/dts/rk3399pro-vmarc-som.dtsi	2020-07-09 18:11:11.360057000 +0300
@@ -14,6 +14,18 @@
 	chosen {
 		stdout-path = "serial2:1500000n8";
 	};
+
+	hym8563: hym8563@51 {
+		compatible = "haoyu,hym8563";
+		reg = <0x51>;
+		#clock-cells = <0>;
+		clock-frequency = <32768>;
+		clock-output-names = "hym8563";
+		pinctrl-names = "default";
+		pinctrl-0 = <&hym8563_int>;
+		interrupt-parent = <&gpio4>;
+		interrupts = <RK_PD6 IRQ_TYPE_LEVEL_LOW>;
+	};
 };
 
 &cpu_l0 {
@@ -279,18 +291,6 @@
 &i2c2 {
 	clock-frequency = <400000>;
 	status = "okay";
-
-	hym8563: hym8563@51 {
-		compatible = "haoyu,hym8563";
-		reg = <0x51>;
-		#clock-cells = <0>;
-		clock-frequency = <32768>;
-		clock-output-names = "hym8563";
-		pinctrl-names = "default";
-		pinctrl-0 = <&hym8563_int>;
-		interrupt-parent = <&gpio4>;
-		interrupts = <RK_PD6 IRQ_TYPE_LEVEL_LOW>;
-	};
 };
 
 &io_domains {
