--- configs/rock-pi-n10-rk3399pro_defconfig.orig	2020-07-24 16:22:42.436129000 +0300
+++ configs/rock-pi-n10-rk3399pro_defconfig	2020-07-24 16:24:36.655378000 +0300
@@ -48,7 +48,7 @@
 CONFIG_REGULATOR_PWM=y
 CONFIG_REGULATOR_RK8XX=y
 CONFIG_PWM_ROCKCHIP=y
-# CONFIG_RAM_ROCKCHIP_DEBUG is not set
+CONFIG_RAM_ROCKCHIP_DEBUG=y
 CONFIG_DM_RESET=y
 CONFIG_BAUDRATE=1500000
 CONFIG_DEBUG_UART_SHIFT=2
@@ -69,3 +69,6 @@
 CONFIG_VIDEO_ROCKCHIP=y
 CONFIG_DISPLAY_ROCKCHIP_HDMI=y
 CONFIG_ERRNO_STR=y
+CONFIG_SPL_TINY_MEMSET=y
+CONFIG_ROCKCHIP_EFUSE=y
+CONFIG_MMC_VERBOSE=y
