--- arch/arm/dts/rk3399-khadas-edge-u-boot.dtsi.orig	2020-05-19 16:16:18.272892000 +0300
+++ arch/arm/dts/rk3399-khadas-edge-u-boot.dtsi	2020-05-19 16:18:48.109000000 +0300
@@ -10,8 +10,24 @@
 	chosen {
 		u-boot,spl-boot-order = "same-as-spl", &sdhci, &sdmmc;
 	};
+
+	aliases {
+	    spi0 = &spi1;
+	};
+	
 };
 
 &vdd_log {
 	regulator-init-microvolt = <950000>;
+};
+
+&spi1 {
+	max-freq = <104000000>;
+	status = "okay";
+
+	spiflash: flash@0 {
+		compatible = "winbond,w25q128fw", "jedec,spi-nor";
+		reg = <0>;
+		spi-max-frequency = <104000000>;
+	};
 };
