--- configs/khadas-edge-v-rk3399_defconfig.orig	2020-04-13 18:02:18.000000000 +0300
+++ configs/khadas-edge-v-rk3399_defconfig	2020-05-17 18:27:56.067640000 +0300
@@ -3,6 +3,22 @@
 CONFIG_SYS_TEXT_BASE=0x00200000
 CONFIG_ENV_OFFSET=0x3F8000
 CONFIG_ROCKCHIP_RK3399=y
+CONFIG_DM_VIDEO=y
+CONFIG_DISPLAY=y
+CONFIG_VIDEO_BPP8=y
+CONFIG_VIDEO_BPP16=y
+CONFIG_VIDEO_BPP32=y
+CONFIG_VIDEO_ROCKCHIP=y
+# CONFIG_VIDEO_ROCKCHIP_MAX_XRES=1920
+# CONFIG_VIDEO_ROCKCHIP_MAX_YRES=1080
+# CONFIG_DISPLAY_ROCKCHIP_MIPI=y
+CONFIG_DISPLAY_ROCKCHIP_HDMI=y
+CONFIG_MISC=y
+CONFIG_MISC_INIT_R=y
+CONFIG_DM_RESET=y
+#CONFIG_PCI=y
+#CONFIG_NVME=y
+CONFIG_USE_PREBOOT=y
 CONFIG_TARGET_EVB_RK3399=y
 CONFIG_NR_DRAM_BANKS=1
 CONFIG_DEBUG_UART_BASE=0xFF1A0000
@@ -18,6 +32,8 @@
 CONFIG_CMD_BOOTZ=y
 CONFIG_CMD_GPT=y
 CONFIG_CMD_MMC=y
+#CONFIG_CMD_PCI=y
+CONFIG_CMD_BMP=y
 CONFIG_CMD_USB=y
 # CONFIG_CMD_SETEXPR is not set
 CONFIG_CMD_TIME=y
