--- configs/khadas-edge-v-rk3399_defconfig.orig	2019-08-27 03:16:42.000000000 +0300
+++ configs/khadas-edge-v-rk3399_defconfig	2019-10-19 13:20:18.930449000 +0300
@@ -8,9 +8,15 @@
 CONFIG_DEBUG_UART_BASE=0xFF1A0000
 CONFIG_DEBUG_UART_CLOCK=24000000
 CONFIG_DEBUG_UART=y
-CONFIG_DEFAULT_FDT_FILE="rockchip/rk3399-khadas-edge-v.dtbi"
+CONFIG_DEFAULT_FDT_FILE="rockchip/rk3399-khadas-edge-v.dtb"
 # CONFIG_DISPLAY_CPUINFO is not set
+CONFIG_DISPLAY=y
 CONFIG_DISPLAY_BOARDINFO_LATE=y
+CONFIG_DISPLAY_ROCKCHIP_HDMI=y
+CONFIG_DISPLAY_ROCKCHIP_MIPI=y
+CONFIG_VIDEO_ROCKCHIP_MAX_YRES=1200
+CONFIG_VIDEO_ROCKCHIP=y
+CONFIG_DM_VIDEO=y
 # CONFIG_SPL_RAW_IMAGE_SUPPORT is not set
 CONFIG_SPL_STACK_R=y
 CONFIG_SPL_STACK_R_MALLOC_SIMPLE_LEN=0x10000
