--- configs/khadas-edge-rk3399_defconfig.orig	2019-10-17 21:12:24.034899000 +0300
+++ configs/khadas-edge-rk3399_defconfig	2019-10-17 21:14:13.825759000 +0300
@@ -9,7 +9,10 @@
 CONFIG_DEBUG_UART_CLOCK=24000000
 CONFIG_DEBUG_UART=y
 CONFIG_DEFAULT_FDT_FILE="rockchip/rk3399-khadas-edge.dtb"
+CONFIG_DISPLAY=y
 # CONFIG_DISPLAY_CPUINFO is not set
+CONFIG_DISPLAY_ROCKCHIP_HDMI=y
+CONFIG_DM_VIDEO=y
 CONFIG_DISPLAY_BOARDINFO_LATE=y
 # CONFIG_SPL_RAW_IMAGE_SUPPORT is not set
 CONFIG_SPL_STACK_R=y
@@ -56,5 +59,6 @@
 CONFIG_USB_ETHER_MCS7830=y
 CONFIG_USB_ETHER_RTL8152=y
 CONFIG_USB_ETHER_SMSC95XX=y
+CONFIG_VIDEO_ROCKCHIP=y
 CONFIG_SPL_TINY_MEMSET=y
 CONFIG_ERRNO_STR=y
