--- arch/arm/dts/rk3399-pinebook-pro.dts.orig	2020-06-13 15:30:50.188477000 +0000
+++ arch/arm/dts/rk3399-pinebook-pro.dts	2020-06-13 15:31:39.841814000 +0000
@@ -290,7 +290,7 @@
 		pinctrl-names = "default";
 		pinctrl-0 = <&lcdvcc_en_gpio>;
 		regulator-name = "vcc3v3_panel";
-		regulator-always-on;
+		/* regulator-always-on; */
 		regulator-min-microvolt = <3300000>;
 		regulator-max-microvolt = <3300000>;
 		regulator-enable-ramp-delay = <100000>;
